<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>


	</head>
	<!--______________________________________________________BEGIN APP-->
	<body>
<h1>Dashboard</h1>
<p>First name: {{user.firstName}}</p>
<p>Last name: {{user.lastName}}</p>
<p>Email: {{user.email}}</p>
	</body>
	<!--______________________________________________________END APP-->
</html>