<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>


	</head>
	<!--______________________________________________________BEGIN APP-->
	<body>
<p>
<a href="login">Login</a> or <a href="register">Register</a>
</p>
	</body>
	<!--______________________________________________________END APP-->
</html>